# json is a built-in Python module and should not be installed via pip
fastapi==0.115.8
uvicorn==0.34.0
pydantic==2.10.6
sqlalchemy==2.0.38
python-dotenv==1.0.1
openai==1.65.1
better-profanity==0.7.0
requests==2.32.3
authlib==1.5.1
PyJWT==2.10.1
itsdangerous==2.2.0
psycopg2-binary==2.9.10
fuzzywuzzy==0.18.0
python-Levenshtein==0.27.1
slowapi==0.1.9
redis>=4.6.0
fastapi-cache2[redis]>=0.2.2